{% extends "shop_app/base.html" %}
{% load static%}

{%block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{%endblock %}

{% block content %}
    <h1 class="mt-4 pt-5 text-danger"><strong>{{ content }}</strong></h1>
    <h3 class="mt-1 text-danger"><strong>{{ slogan }}</strong></h3>
{% endblock %}

{% block footer %}
    <footer class="bg-danger text-white py-5 mt-5">
        <div class="container text-center">
            <p>&copy; 2025 М.Аудио. Все права не защищены.</p>
        </div>
</footer>
{% endblock %}
