{% extends "shop_app/base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9 bg-white p-4 mb-5 mx-2 rounded">
                <h2 class="text-center mb-4">Регистрация</h2>
                <form method="post">
                    {% csrf_token %}
                   {% if form.errors %}
                    <div class="alert alert-danger">
                        <h6>Ошибки:</h6>
                        <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                            <li><strong>{{ field }}:</strong> {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label d-block">{{ form.first_name.label }}</label>
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                            <div class="text-danger">{{ form.first_name.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label d-block">{{ form.last_name.label }}</label>
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                            <div class="text-danger">{{ form.last_name.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label d-block">{{ form.username.label }}</label>
                            {{ form.username }}
                            {% if form.username.errors %}
                            <div class="text-danger">{{ form.username.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label d-block">{{ form.email.label }}</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                            <div class="text-danger">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label d-block">{{ form.password1.label }}</label>
                            {{ form.password1 }}
                            {% if form.password1.errors %}
                            <div class="text-danger">{{ form.password1.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label d-block">{{ form.password2.label }}</label>
                            {{ form.password2 }}
                            {% if form.password2.errors %}
                            <div class="text-danger">{{ form.password2.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block w-100">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}