body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #ffffff !important;
  background-color: #a71d2a !important;
}